.progress-container {
  width: 100%;
}
.progress-container .progress-list {
margin: 20px 0;
}
.progress-container .progress-list .list-panel {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.progress-container .progress-list .list-item {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.progress-container .progress-list .line::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -34px;
  bottom: 0;
  height: 3px;
  width: 68px;
  background: green;
  z-index: 1;
}
@media screen and (min-width:1200px){
    .progress-container .progress-list .line::before {
      left: -48px;
      width: 98px;
    }
}
@media screen and (max-width:682px){
    .progress-container .progress-list .list-item {
        width: 14%;
    }
}
@media screen and (max-width:650px){
    .progress-container .progress-list .line::before {
      left: -34px;
      width: 70px;
    }
}
@media screen and (max-width:524px){
    .progress-container .progress-list .list-item {
        width: 22%;
    }
}
.progress-container .progress-list .circle {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  background: green;
}

ul.list-panel label {
  text-align: center;
}

.squircle{
  color: #fff;
  text-align: center;
  line-height: 1.6;
  z-index: 100;
}
