.btn-secondary {
  color: #212529;
  background-color: #FFFFFF;
  border-color: #dee2e6;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e5e5;
}

.btn-secondary.fa:not(.fa-search) {
    color: #6c757d;
}

