<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">Document Management System.</h3><h4><br/>A document management system (DMS) is a system (based on computer programs in the case of the management of digital documents) used to track, manage and store documents and reduce paper.<br/> In default odoo we dont have any DMS so we provide simple and very useful functionality to manage documents by this custom module.</h4><br/><h4 style="color: green;">New: Now we have added support to set department directly on directory, So you can add department on directory and users of that department will have directly access to related directory and documents.(In v10) So now you can share documents by Departments also very easily.</h4>
            <br/><h4 style="color: green;">New: Now you can manage Document Revisions also. Check Next and old veiosn of document also from document.</h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="directory_list_view.png" width="100%">
            </a>
        </div>
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="directory_form_view.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Directory Views</h3>
            <p class="oe_slogan">You can manage your documents by directory as normally all DMS do. You can share directory with the persons by adding them in users list. Users added to directory will have access to directory and realted documents of that directory.</p>
        </div>
    </div>
</section>

<!-- <section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="directory_structures_hierarchy_odoo.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">New(For V10): Hierarchical view for Directories</div>
        </div>
    </div>
</section> -->

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="documents_list_view.png" width="100%">
            </a>
        </div>
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="documents_form_view.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_slogan">Send Document by mail</h3>
            <p>Many Time you need to send document via mail in some specific use cases. <br/>To simplify this usecase we have given send by mail option on Document, So now you can send documents by mail in single click.<br/></p>
        </div>
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="document_send_by_mail.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Document Views</h3>
            <p class="oe_slogan">You can manage your documents with all necessary details as shown in form view. List view also gives required details. Access to any document can given to any user by adding perticular user as follower in relatedd document.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="tags_list_view.png" width="100%">
            </a>
        </div>
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="tags_form_view.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Tags Views</h3>
            <p class="oe_slogan">Document managers can manage tags from this view esily. You can give color on tags.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_slogan">Search Views</h3>
            <p>In Document Management System when there are thousands of documents is is hard to find out realted document easily. <br/>So to simplify this issue we have given proper search view on directory and documents views.<br/> Search on tag and descripion is also possible.</p>
        </div>
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="directory_search_view.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <a href="http://www.almightycs.com/blog/news-1/post/document-management-system-in-odoo-24" target="_blank">
                <img src="document_users.png" width="100%">
            </a>
        </div>
        <div class="oe_span6">
            <h3 class="oe_slogan">Document User Management</h3>
            <p>Same as other main odoo applications this docuement management sstem also contains related users.<br>1. User: Can Add new documents and access directory and documents having access.<br/>2. Manager: Can create, write and delete all documents, Directory and tags.
            <br/>Note: Now we have added support to set department on directory, So you can add department on directory and users of that department will have directly access to related directory and documents(In v10 and V11).
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_slogan">Our Document Management Portal</h3>
            <p>Once you have Document Management System in some cases you need to share documents with end users also to share document related them like Pricelists, Contrat Documents and many others.<br/> To handle such a usecases we have added this module. Users will be able to access documents on their website account same as Orders, Invoices and Porject Issues.
            </p><br/>
            <a href="https://apps.odoo.com/apps/modules/10.0/website_document_management/" target="_blank">
            For V10
            </a>
            <a href="https://apps.odoo.com/apps/modules/11.0/document_management_portal/" target="_blank">
            For V11
            </a>
        </div>
        <div class="oe_span6 mt64">
            <a href="https://apps.odoo.com/apps/modules/11.0/document_management_portal/" target="_blank">
                <img src="website_document_management_cover.jpg" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.almightycs.com" target="_blank">
                    <img src="acs.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <br/><br/>
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us by our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://in.linkedin.com/pub/patel-turkesh/1b/51b/32b" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/public/Turkesh-Patel" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+TurkeshPatel" Target="_blank"><i class="fa fa-google-plus-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/turkeshpatel?lang=en" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://www.almightycs.com/page/website.contactus"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

