<section class="oe_container oe_dark">
    <h2 class="oe_slogan text-primary text-center">ODOO Email CC and BCC</h2>
    <div class="row">    
        <div class='col-12'>
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <b> Basic Features </b>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Enable/disable CC and BCC feature inside company.</i></li>
                        <li><i class="fa fa-check text-primary"></i> Set deafult 'Cc and Bcc' in company.</li>
                        <li><i class="fa fa-check text-primary"></i> Set default 'Reply to' in company.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  oe_dark">
    <div class="row">
        <div class='col-12'>
            <div class="panel " >
                <div class="panel-heading alert alert-info" style="font-size: 22px;">
                    <i class="fa fa-pencil-square-o "></i><b> Configuration inside Company </b>
                </div>
                <div class="panel-body"> 
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Enable/disable Cc and Bcc feature</b></div>
                            <a href="1.png">
                                <img class="img-border img-responsive thumbnail" src="1.png">
                            </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  oe_dark">
    <div class="row">
        <div class='col-12'>
            <div class="panel " >
                <div class="panel-heading alert alert-info" style="font-size: 22px;">
                    <i class="fa fa-pencil-square-o "></i><b> Compose Mail </b>
                </div>
                <div class="panel-body"> 
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Compose Mail without default Cc and Bcc email Ids</b></div>
                        <a href="2.png">
                            <img class="img-border img-responsive thumbnail" src="2.png">
                        </a>
                    </section>
                    <section class="oe_container  lead mt16">
                            <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Compose Mail with default Cc and Bcc email Ids</b></div>
                            <a href="3.png">
                                <img class="img-border img-responsive thumbnail" src="3.png">
                            </a>
                        </section>
                </div>
            </div>
        </div>
    </div>
</section>
        
<section class="oe_container">
    <div class=''>
        <div class="col-12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p style="text-align:center;">
            You will get 90 days free support for installation, configuration, or reinstallation (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div>
        <div class="col-12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan col-12">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href=" https://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href=" https://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href=" https://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>
    
<section class="oe_container">
    <div class="col-12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=ODOO-EMAIL-CC-AND-BCC&url=https://apps.openerp.com/apps/modules/12.0/odoo_email_cc_bcc&uid=odoo_email_cc_bcc" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>