<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#e68a00; text-align: center;">Mail Messages Easy</h2>
            <div class="oe_demo" style="border:none;">
                <h4>Main features</h4>
                <ul>
                    <li>View and manage all messages from one source!<br/>
                        Messages only are shown (system notifications and chat/channel messages are NOT displayed!)</li>
                    <li>Hint: only messages related to records that current user has access to are shown.<br/>
                        If user can see the message it means that user has at least read access to the record this message is posted to.<br/>
                        In case you want to hide or show any messages you need to set up access rights/rules to the record.</li>
                    <li>Reply or reply with quote to message thread</li>
                    <li>Forward message to other thread</li>
                    <li>Mark message read</li>
                    <li>Star/Unstar message</li>
                    <li>Configure message deletion rights for users in <a href="#delete_messages">User Settings</a></li>
                    <li>Hint: install free <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_buttons"><b>Mail Messages Buttons</b></a> module in case you want to move form buttons to statustbar</li>
                    <li>Use pre-defined filters to display messages you need</li>
                    <li>Open Partner's messages from Partner form view</li>
                    <li>Save messages as draft using free <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft/"><b>Mail Messages Draft</b></a> module</li>
                    <li>Show lost messages <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                    <li>Assign message author if author was not detected automatically <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                    <li>Move messages to other thread <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                    <li>Reply <i class="fa fa-quote-left"/>, Forward <i class="fa fa-copy"/>, Move <i class="fa fa-arrow-right"/> or Delete <i class="fa fa-trash"/> message directly from Chatter thread <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                    <li>Hide Notifications in Chatter to show messages only <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                    <li>Delete CRM Leads/Opportunities if no messages left except for Notifications <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_pro"><b>Click to get Pro Version!</b></a></li>
                </ul>
                <ul>
                    <li>Hint #1: Manage reordering rules easily using free <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/cx_product_auto_reorder/"><b>Advanced Auto Reordering Rules Control</b></a> module</li>
                    <li>Hint #2: Manage multiple email addresses and phone number for Contact using <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_phone_numbers/"><b>Improved Contacts</b></a> module</li>
                </ul>
                <h4>Support</h4>
                <ul>
                    <li>Tested on Odoo Community and Enterprise v12.0</li>
                    <li>Spanish and Russian language translation</li>
                    <li>English, German and Russian language support</li>
                    <li><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support or any custom app you need</li>
                </ul>

                <h3>Update v12.0.4.2</h3>
                <ul>
                    <li>Select your signature location when quoting or forwarding message. Possible options are:
                        <ul>
                            <li>Before quoted text</li>
                            <li>Message bottom</li>
                            <li>No signature at all</li>
                        </ul>
                    </li>
                    <li><a target="_blank" href="https://apps.odoo.com/apps/modules/11.0/prt_mail_messages_pro"><b>Pro Version</b></a> No more 'incognito' messages! Set message author if not detected when message was received</li>
                </ul>
                <h3>Known limitations / Todo</h3>
                <ul>
                    <li>Total number of records in TreeView pager is showing more records than actually exist.
                        This is due to not overload backend with excessive access rules computations.</li>
                    <li>In TreeView last messages from the current page may appear again on the top of the next page. This is because access rules check is done
                        while records are loaded, so messages are pulled from the next page to fill the gap left by messages forbidden by rules.</li>
                    <br/>
                    However fixes are on the way!) So feel free to contact me if you have questions or need any support.
                </ul>

            </div>
            <h3 style="text-align: center;"><a target="_blank" href="https://apps.odoo.com/apps/browse?repo_maintainer_id=222445">Click here for more addons!</a></h3>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class='oe_slogan'>View and manage all messages from one source</h3>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_1.png">
                <img src="msg_1.png">
            </a>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_2.png">
                <img src="msg_2.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class="oe_slogan">Reply to message thread</h3>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_3.png">
                <img src="msg_3.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class='oe_slogan'>Forward message to other thread</h3>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_4.png">
                <img src="msg_4.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class="oe_slogan">Open Partner's messages from Partner view</h3>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_6.png">
                <img src="msg_6.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class="oe_slogan">Click on  <i class="fa fa-envelope-o"/>  icon next to email address to send message via Mail Composer</h3>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_7.png">
                <img src="msg_7.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;" id="delete_messages">
        <div class="oe_demo">
            <h3 class="oe_slogan">Configure message deletion rights</h3>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_del_1.png">
                <img src="msg_del_1.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;" id="show_error">
        <div class="oe_demo">
            <h3 class="oe_slogan">Messages with send error are marked with red</h3>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/11.0/prt_mail_messages/err_1.png">
                <img src="https://apps.odoo.com/apps/modules/11.0/prt_mail_messages/err_1.png">
            </a>
        </div>
        <div class="oe_demo">
            <h3 class="oe_slogan">Failure reason is logged. Click for more details</h3>
        </div>
        <div class="oe_demo oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/11.0/prt_mail_messages/err_2.png">
                <img src="https://apps.odoo.com/apps/modules/11.0/prt_mail_messages/err_2.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h3 class="oe_slogan">User settings to display message technical fields</h3>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_5_1.png">
                <img src="msg_5_1.png">
            </a>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/msg_5_2.png">
                <img src="msg_5_2.png">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo">
            <h4 class="oe_slogan"><a target="_blank" href="https://demo.cetmix.com">Click to try it!</a></h4>
            <h4 class="oe_slogan"><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support and customization</h4>
            <h5 class="oe_slogan"><a href="https://www.freepik.com/free-photos-vectors/icon">Icon vector created by Freepik</a></h5>
        </div>
    </div>
</section>
