<section class="oe_container lead bi_title_box">
    <div >
        <div >
            <h2 class="oe_slogan bi_title" style="color:#5082c4;">
                <b> Multiple Branch wise Financial PDF Reports Odoo Apps(Works for Enterprise and Community both Edition) </b>
            </h2>
            <p class="oe_slogan">
                 Are you using multiple branch Odoo apps of Browseinfo and want branch wise accounting PDF Reports(i.e Profit and Loss, Balance Sheet GL etc).This is the Odoo apps which you are looking for, If you don't use existing multiple branch Odoo apps of Browseinfo then don't worry Multiple branch apps is already in depends of this app.
                By using this Odoo apps you print Accounting PDF Reports with Branch filter .i.e Profit and Loss, Balance Sheet, Trial Balance, General Ledger. 
                <br/>
                </p>
                <p class="oe_slogan">
                 This odoo apps works on community and enterprise both edition with all generic application like contact, product, sales, purchase, warehouse,billing, accounting , point of sale etc. We have other separate apps available for Manufacturing,Projects, Subscription, Helpdesk etc, you can see that on Odoo store and If you can't see it contact us, we will help you on that.If you don't want to use specific application i.e POS , then don't worry we will simply remove that dependency for you without any extra cost. 
                <br/>
                </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div >
        <div>
            <h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/6e5b40b69e.png"/>
                    </div>
                    <div class="col-md-9">
                      <h4><b> Print Report In PDF Format </b></h4>
                      <span class="oe_slogan"> All reports have a option to print in PDF so user can print reports in PDF format. </span>
                    </div>
                </div>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/calendar-filter-512.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b> Date and Other Filter Option </b></h4>
                        <span class="oe_slogan"> Schedule mail automatically link with chatter, No need to send message manually. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/payments_financial_banking.png"/>
                    </div>
                    <div class="col-md-9">
                      <h4><b> Branch wise Financial Statement </b></h4>
                      <span class="oe_slogan"> Print Branch wise Financial report like .i.e BS, P & L, GL, TB. </span>
                    </div>
                </div>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/general.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b> Journal Filter on Report </b></h4>
                        <span class="oe_slogan"> Print Different Journal's Report using Journal Filter, User can select multiple journals also and print selected journals reports in group. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 mr8" title="Website" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/demo-request/" target="_blank"> Demo Request </a>
            <a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/eyRAayx88oI" target="_blank"> Video Tutorial</a>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> PDF Report Menu </p>
            <p class="oe_slogan"> In wizard select branch for that you wants to print balance sheet. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Balance Sheet Report </p>
            <p class="oe_slogan"> In wizard select branch for that you wants to print balance sheet. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="bpdf1.png">
            <p class="oe_slogan">You can see balance sheet PDF report with branch.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_opt_report.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Profit Loss Sheet Report </p>
            <p class="oe_slogan"> In wizard select branch for that you wants to print profit loss sheet. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="bpdf2.png">
            <p class="oe_slogan">You can see balance sheet PDF report with branch.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_opt_report.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Trial Balance Report </p>
            <p class="oe_slogan"> In wizard select branch for that you wants to print profit loss sheet. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="bpdf3.png">
            <p class="oe_slogan">You can see trial balance PDF report with branch.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_opt_report.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> General Ledger Report </p>
            <p class="oe_slogan"> In wizard select branch for that you wants to print general ledger report. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="bpdf4.png">
            <p class="oe_slogan">You can see general ledger PDF report with branch.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_opt_report.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div>
        <div class="row">
            <div class="col-sm-4" style="margin: auto;">
                <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
            </div>
        </div>
        <div class="row col-sm-12" style="margin-left: 3px;padding: 5px;">
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/bi_manual_currency_exchange_rate_invoice_payment/">
                    <img class="img img-responsive" src="related/bi_manual_currency_exchange_rate_invoice_payment.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/bi_invoice_tripple_approval/">
                    <img class="img img-responsive" src="related/bi_invoice_tripple_approval.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/customer_account_payment_followup/">
                    <img class="img img-responsive" src="related/customer_account_payment_followup.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/outstanding_report/">
                    <img class="img img-responsive" src="related/outstanding_report.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/interest_on_overdue_invoice/">
                    <img class="img img-responsive" src="related/interest_on_overdue_invoice.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/bi_create_single_invoice_from_picking/">
                    <img class="img img-responsive" src="related/bi_create_single_invoice_from_picking.png" style="width: 100%;"/>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div>
        <div class="row">
            <div class="col-sm-4" style="margin: auto;">
                <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
            </div>
        </div>
        <div class="row col-sm-12" style="margin-left: 3px;padding: 5px;">
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
                    <img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
                    <img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_report/">
                    <img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
                    <img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
                    <img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/branch/">
                    <img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
                </a>
            </div>
        </div>  
    </div>
</section>

<section class="oe_container">
    <div >
        <div >
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan" style="font-size: 18px; ">
        At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div >
        <div >
            <div class="img img-responsive text-center">
                <a href="http://www.browseinfo.in" target="new" style="display: grid;">
                    <img src="bi_logo.png" style="margin: auto;max-width: 350px;">
                </a>
            </div>
        </div>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
            <a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
            <a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
        </div>
    </div>
</section>
