<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Financial/Accounting PDF Reports Odoo Apps(BS, P&L, TB and GL) Community Edition</b>
			</h2>
			<p class="oe_slogan">
				Missing Accounting reports on Odoo Community Edition? Don't worry, With this Odoo apps we make it available.Financial PDF Reports deprecated in Odoo since Version 12.0, This report available on earlier version of odoo until Odoov11. Odoov12 We have developed this apps to provides same Reports as it was providing in its earlier version. You can Print Balance Sheet Report,Print Profit Loss Report, Print Trial Balance Report,Print General Ledger Report in PDF format using all the filters i.e Date Range filter, Journal filter, Posted/Unposted entry etc. We have also developed the other deprecated reports and modules on Community Edition, If you interested please check our other Apps and Below links.
			</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Community ALL Accounting Reports Excel and PDF Odoo Apps, please check below module link<br/>
				<strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/12.0/bi_financial_excel_reports/" target="_blank">Financial Reports in Excel and PDF Odoo Apps.</a></strong>
			</p>

			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Community Partner Accounting Reporting(PDF/Excel) Odoo Apps,please check below module link<br/>
				<strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/12.0/bi_partner_ledger_report/" target="_blank">Partner Accounting Reporting(PDF/Excel) Odoo Apps.</a></strong>
			</p>

			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Community Accounting Tax Reporting(PDF/Excel) Odoo Apps, please check below module link<br/>
				<strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/12.0/bi_account_tax_report/" target="_blank">Accounting Tax Reports (PDF/Excel) Odoo Apps.</a></strong>
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/pdf-icon.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Available Account Report.</b></h4>
						<span class="oe_slogan">Balance sheet, Profit Loss, Trial Balance, General Ledger.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/calendar-filter-512.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Date Filter Option.</b></h4>
						<span class="oe_slogan">Provide Date Range filter on wizard for all reports.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/different_filter.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Different Filter Options.</b></h4>
						<span class="oe_slogan">Provide Filter By option with different fields as well as Posted/All entries filter available on wizard.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/other_option.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Other Options.</b></h4>
						<span class="oe_slogan">Provide other options on wizard as a Enable Comparison, Column Label, Print, Display Debit/Credit column, Display Accounts etc.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Request Demo" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/demo-request/" target="_blank"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/qV7aWBWCwOw" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Financial Reports Menu</p>
			<p class="oe_slogan">Figure shows the PDF Reports Option under Invoicing > Reporting Menu.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="1_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Balance Sheet</p>
			<p class="oe_slogan">In wizard select Enable Comparison option and set column name.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_opt_1_wiz1.png">
			<p class="oe_slogan">You can see report with comparison column.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_opt_1_report1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In wizard select Display Debit/Credit option to see Debit/Credit on report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_opt_1_wiz2.png">
			<p class="oe_slogan">Here you can see Debit/Credit field in report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_opt_1_report2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In wizard select Start Date & End Date to see balance sheet entry.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_opt_wiz3.png">
			<p class="oe_slogan">Here you can see report between Start Date and End Date.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_opt_1_report3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Profit Loss Sheet</p>
			<p class="oe_slogan">In wizard select Enable Comparison option and set column name .</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_opt_2_wiz1.png">
			<p class="oe_slogan">You can see report with comparison .</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_opt_2_report1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In wizard select Display Debit/Credit option to see Debit/Credit on report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_opt_2_wiz2.png">
			<p class="oe_slogan">Here you can see Debit/Credit field in report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_opt_2_report2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In wizard select Start Date & End Date to see balance sheet entry.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_opt_2_wiz3.png">
			<p class="oe_slogan">Here you can see report between Start Date and End Date.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_opt_2_report3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Trial Balance</p>
			<p class="oe_slogan">Trial balance wizard.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_opt_3_wiz.png">
			<p class="oe_slogan">Trial balance report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_opt_3_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">General Ledger</p>
			<p class="oe_slogan">General ledger wizard.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_opt_4_wiz.png">
			<p class="oe_slogan">General Ledger report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_opt_4_report.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_asset/">
					<img class="img img-responsive" src="related/bi_account_asset.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_financial_excel_reports/">
					<img class="img img-responsive" src="related/bi_financial_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_partner_ledger_report/">
					<img class="img img-responsive" src="related/bi_partner_ledger_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_journals_audit_report/">
					<img class="img img-responsive" src="related/bi_journals_audit_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_account_tax_report/">
					<img class="img img-responsive" src="related/bi_account_tax_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_progress_billing/">
					<img class="img img-responsive" src="related/bi_customer_progress_billing.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>
