button.btn.oe_stat_button.oe_invoice_status {
    font-weight: bold;
    margin-left: 1em;
    font-size: medium;
    cursor: text;
    background:#e6ffff;
}

button.btn.oe_stat_button.oe_delivery_status {
    margin-left: 20em;
    font-size: medium;
    font-weight: bold;
    cursor: text;
    background:#e6ffff;
}

.tree_color {
    color: black;
    background: #e6ffff;
}
