<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Instagram Integration</h2>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">This module offers integration for contacts with
				instagram user profile.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="text-justify" style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Desktop Interface</h3>
			<div class="row">
				<div class="oe_demo oe_screenshot">
					<img src="index.png">
				</div>
			</div>
		</div>
	</div>
</section>