<head>
    <meta name="description" content="Hide Any Report From Any User or Any Group and its user">
    <meta name="keywords"
          content="hide report, hide any report, invisible report, remove any report, odoo hide report, odoo access right, access right">
    <meta name="author" content="FreelancerApps">
</head>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Hide Any Report From Any User or Any Group And Its User</h2>
        <br/>
        <h4 class="oe_slogan" style="color:#ee1001;">Work With Both <b>Community</b> And <b>Enterprise</b> Version.</h4>
        <h3 class="oe_slogan">If you want to hide some reports from some users or all users of some security groups then just install this app.</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Easy To Configure
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        User Wise Hide Report Setting. Hide Any Report From User Configuration On User Form View
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Group Wise Hide Report Setting. Hide Any Report From Group Configuration On Group Form View
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Report Wise Hide Setting. Hide Report From User, Group Configuration On Report Form View
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info"> For demo purpose we apply above settings on <b>Test</b> user.</div>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Hide Any Report From User Configuration On User Form View
            </div>
            <div class="alert alert-info">
                Hide Report Quotation/Order Of Sale Quotation From test User
            </div>
            <img src="1.gif" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Hide Any Report From Group Configuration On Group Form View
            </div>
            <div class="alert alert-info">
                Hide Print Badge Report From Test User, Inventory/Manager Group And Its All Users.
            </div>
            <img src="2.gif" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Hide Report From User, Group Configuration On Report Form View
            </div>
            <div class="alert alert-info">
                Hide Report Delivery Slip Of Delivery Order From Test User, Inventory/Manager Group And Its All Users.
            </div>
            <img src="3.gif" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <h5>
            Note:<br/>
            Hide Report Functionality Just Remove Report Name From Action If Report Is Print From Some Button Then Report Will Print.
        </h5>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="text-align: center;">
        <h2 class="oe_slogan" style="color:#875A7B;">You would love to have our other Apps!</h2>
        <div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://apps.odoo.com/apps/modules/12.0/auto_generate_ean13/" target="new">
                    <img src="auto_generate_ean13_banner_small.png" style="width:45%;border:solid;margin-left:3%;">
                </a>
                <a href="https://www.odoo.com/apps/modules/12.0/set_read_only_user/" target="new">
                    <img src="set_read_only_user_banner_small.png" style="width:45%;margin-left:3%;border: solid">
                </a>
            </div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://www.odoo.com/apps/modules/12.0/import_bulk_images/" target="new">
                    <img src="import_bulk_images_banner_small.png" style="width:45%;border:solid;margin-left:3%;">
                </a>
                <a href="https://www.odoo.com/apps/modules/12.0/import_image_fromurl/" target="new">
                    <img src="import_from_url_banner_small.png" style="width:45%;margin-left:3%;border: solid">
                </a>
            </div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://apps.odoo.com/apps/modules/12.0/clear_shopping_cart/" target="new">
                    <img src="clear_shopping_cart_banner_small.png" style="width:45%;border:solid;margin-left:3%;">
                </a>
                <a href="https://www.odoo.com/apps/modules/12.0/hide_any_menu/" target="new">
                    <img src="hide_any_menu_banner_small.png" style="width:45%;margin-left:3%;border: solid;">
                </a>
            </div>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <h2 class='oe_slogan' style="color:#875A7B;">Supports</h2>
    <div class='oe_spaced' style="padding-left: 64px; padding-right: 64px; font-size: 18px; text-align: center;">
        <p class="oe_mt16">
            For any supports or questions, please contact me via:
        </p>
        <div class="oe_mt16" style="display: flex; flex-flow: row; justify-content: center">
            <div>
                <i class="fa fa-envelope fa-1x" style="color:#875A7B;"></i>
                <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=freelancerapps5@gmail.com" target="_blank">
                    <b style="color: #875A7B">freelancerapps5@gmail.com</b></a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_spaced">
    <h3 class="oe_slogan">Thank you!</h3>
</section>

