<hr style="width: 100%;height: 4px;background: #d91c59;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #5f5e97;margin: 0px 0px;">

<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#5f5e97"><b><strong><u>Sales Archive</u></strong></b>
        </b></h2>
    </div>
</section>


<section class="oe_container">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 20px;color:#000000"><b>Geminate comes with a feature to manage un-necessary and old data of sales related document(s) by archive them and unarchive them in future to review for analysis and stretagic planning. it will helps to manage the 'Quotations and Orders' from Sales, 'Invoices, Credit Notes and Payments' from the Invoicing and 'delivery orders' from the inventory.</b></h2>
    </div>
</section>





<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="position: fixed;right: -30px;transition: 0.3s;padding: 0px;width: 100px;text-decoration: none;font-size: 5px;color: white;border-radius: 0 5px 5px 0;top: 350px;" id="mySidenav" class="sidenav">
            <a href="https://twitter.com/geminatecs" id="twitter" class="fa fa-twitter" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: #29b6fc;color: aliceblue;font-size: 15px;"></a><br>
            <a href="https://www.facebook.com/geminatecs/" id="facebook" class="fa fa-facebook" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: #1565c0;color: aliceblue;font-size: 15px;"></a><br>
            <a href="https://www.linkedin.com/company/geminate-consultancy-services/" id="linkedin" class="fa fa-linkedin" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: #2a7bb6;color: aliceblue;font-size: 15px;"></a><br>
            <a href="https://www.youtube.com/channel/UCm95R5aQJ0Uyp9EaQX4grJA/about?view_as=subscriber/" id="youtube" class="fa fa-youtube" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: #ff4336;color: aliceblue;font-size: 15px;"></a><br>
            <a href="mailto:contact@geminatecs.com" id="mail" class="fa fa-envelope" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: darkgreen;color: aliceblue;font-size: 15px;"></a><br>
            <a href="https://www.geminatecs.com/" id="website" class="fa fa-globe" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: brown;color: aliceblue;font-size: 15px;"></a><br>
            <a href="https://www.geminatecs.com/shop" id="apps_store" class="fa fa-shopping-cart" style="overflow: hidden;border-radius: 10%;transition: 0.4s ease-in;width: 35px;height: 35px;display: flex;flex-direction: row;align-items: center;justify-content: center;box-shadow: 1px 1px 3px gray;background: hotpink;color: aliceblue;font-size: 15px;"></a>
        </div>
    </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#5f5e97; text-align: center;opacity:0.6;font-size: 25px;font-weight: 600;margin: 0px !important;">
            Available Key Features
        </h2>
        <ul class="list-unstyled mr32 ml32" style="font-size: 16px">
            <li style="padding-top: 8px;">
                <i class="fa fa-check" style="color: #000000;"/>
                Allows to archive / unarchive sales related document(s).
           </li>
           <li style="padding-top: 6px;">
                <i class="fa fa-check" style="color: #000000;"/>
                Supports sales quotations / orders, delivery orders, invoices, refunds and payments.
           </li>
            <li style="padding-top: 6px;">
                <i class="fa fa-check" style="color: #000000;"/>
                Improve performance of odoo and loading speed of listview because all previous data can be archived which will not listed in main menu.
           </li>
            <li style="padding-top: 8px;">
                <i class="fa fa-check" style="color: #000000;"/>
                Easy to use and quick.
           </li>
            <li style="padding-top: 8px;">
                <i class="fa fa-check" style="color: #000000;"/>
                Fully adjustable based on dynamic configuration of list of sae document(s)
           </li>
        </ul>
    </div>
</section>

<section class="oe_container" style="padding: 0% 0% 0% 4%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color: #5f5e97; text-align: left;opacity:0.6;font-size: 25px;font-weight: 600;margin: 0px !important;">
            Screenshots
        </h2>
        
        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>Go to Settings -> Sales -> Sales Archive / Unarchive.</b>
        </h3>

        <div class="oe_row oe_spaced">
            <img src="1.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>
        
        <div class="oe_row oe_spaced">
            <img src="2.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>
        
        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>Sales -> Orders -> Quotations</b>
        </h3>
        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>Select records which you want to archive.</b>
        </h3>
        <div class="oe_row oe_spaced">
            <img src="4.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>
        <div class="oe_row oe_spaced">
            <img src="5.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>
        
        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000;font-size: 15px;"></i>
            <b>Sales -> Orders -> Archived Quotations</b>
        </h3>

        <div class="oe_row oe_spaced">
            <img src="6.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>Archived Records visible here! Select records which you want to unarchive.</b>
        </h3>
        <div class="oe_row oe_spaced">
            <img src="7.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>

        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>You can access archive in formview also.</b>
        </h3>
        <div class="oe_row oe_spaced">
            <img src="8.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>

        <h3 class="oe_slogan" style="text-align: left;padding: 0% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 0.6 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #000000;font-size: 15px;"></i>
            <b>You can access unarchive in formview also.</b>
        </h3>
        <div class="oe_row oe_spaced">
            <img src="9.jpg" alt="" style="width: 95%;box-shadow: 0px 0px 8px 0px #e42049;"/>
        </div>

    </div>
</section>

<hr style="width: 100%;height: 4px;background: #d91c59;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #5f5e97;margin: 0px 0px;">




<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan" style="color: #d91c59;margin-right: 10px;margin-right: 5px;margin-top:100px;">
                   <a href="https://youtu.be/ye_cCl1u8Og" target="_blank" style="color: #FFFFFF !important; border-radius: 0; background-color: #d91c59; border-color: #005ca7; padding: 15px; font-weight: bold;">
                    <i class="fa fa-youtube"></i>
                        Watch on YouTube
                    </a>
                </h4>
            </center>
        </div>
    </div>
</section>

<section class="oe_container" style="margin-top: 60px;">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <center>
                <div style="border: 1px solid #d91c59;height: 100px;width: 700px;margin-left: 3px;background: lightgray;">
                    <div style="margin-top: -8px;">
                       <h2 class="oe_slogan"><a style="color: #d91c59 !important;" target="_blank" href="https://apps.odoo.com/apps/modules/browse?search=geminate">Find more Apps from Geminate</a></h2>
                    </div>
                </div>
            </center>
        </div>
    </div>
</section>

<section class="oe_container" style="padding: 1% 0% 0% 3%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            Our Services
        </h2>
        <div style="display:flex;justify-content: space-between;">
            <div style="flex-basis: 18%;margin-right:100px">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <a href="https://www.geminatecs.com/page/services" target="_blank">
                        <img src="odoo-customization.png" style="width: 100%;border-radius: 100%;">
                    </a>
                </div>
                <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a style="color:#D91C59" href="https://www.geminatecs.com/page/services" target="_blank">
                        Odoo Customization
                    </a>
                </h3>
            </div>
            <div style="flex-basis: 18%;margin-right:100px">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <a href="https://www.geminatecs.com/page/services" target="_blank">
                        <img src="odoo-erp-implementation.png" style="width: 100%;border-radius: 100%;">
                    </a>
                </div>
                <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a style="color:#D91C59" href="https://www.geminatecs.com/page/services" target="_blank">
                        Odoo Implementation
                    </a>
                </h3>
            </div>
            <div style="flex-basis: 18%;margin-right:100px">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <a href="https://www.geminatecs.com/page/services" target="_blank">
                        <img src="odoo-erp-integration.png" style="width: 100%;border-radius: 100%;">
                    </a>
                </div>
                <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a href="https://www.geminatecs.com/page/services" style="color:#D91C59" target="_blank">
                        Odoo Integration
                    </a>
                </h3>
            </div>
            <div style="flex-basis: 18%;margin-right:100px">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <a href="https://www.geminatecs.com/page/services" target="_blank">
                        <img src="odoo-erp-support.png" style="width: 100%;border-radius: 100%;">
                    </a>
                </div>
                <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a style="color:#D91C59" href="https://www.geminatecs.com/page/services" target="_blank">
                        Odoo Support
                    </a>
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="oe_span12">
            <h2 class="oe_slogan">Contact / Support</h2>
            <h3 class="oe_slogan">Need assistance?</h3>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="display: inline-flex;">
            <a class="col-md-4 text-center" style="color:#3b5998;" href="https://www.facebook.com/geminatecs" target="_blank"><img src="facebook.png"/></a>
            <a class="col-md-4 text-center" style="color:#31a3d6;" href="https://twitter.com/geminatecs" target="_blank"><img src="twitter.png"/></a>
            <a class="col-md-4 text-center" style="color:#3b5998;" href="https://www.linkedin.com/company/geminate-consultancy-services" target="_blank"><img src="linkedin.png"/></a>
        </div>
    </div>
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <div class="oe_picture">
                <a href="http://www.geminatecs.com"><img src="logo.png" style="height: 81px;width: 279px;"></a>
                <br/>
                <h4 class="btn btn-primary" style="background:#d91c59;border-color: #e42049;"><a style="color:white;" target="_blank" href="https://www.geminatecs.com/">Website</a></h4>
                <h4 class="btn btn-primary" style="background:#d91c59;border-color: #e42049;"><a style="color:white;" target="_top" href="mailto:contact@geminatecs.com">Send Email</a></h4>
                <h4 class="btn btn-primary" style="background:#d91c59;border-color: #e42049;"><a style="color:white;" target="_blank" href="https://www.geminatecs.com/page/services">Services</a></h4>
            </div>
        </div>
    </div>
</section>

<hr style="width: 100%;height: 4px;background: #5f5e97;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #d91c59;margin: 0px 0px;">
