<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Portal Document Management: Backend + Portal</h2>
            <h3 class="oe_slogan">Upload/Download documents from Portal and can share to only selected users are allowed to view and download.</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Documents Access Rights</h2> </p>
            <h3 class="oe_slogan">Only users have access of <b>Document Management</b> will see the Document feature in backend.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="0_documents_access_rights_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">My Documents</h2> </p>
            <h3 class="oe_slogan">List of all documents including Shared and Personal with count.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="1_list_of_doc_odooitno.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">List of Personal Documents</h2> </p>
            <h3 class="oe_slogan">User can upload all types of personal documents for future reference and use.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="2_portal_porsonal_doc_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">List of Shared Documents</h2> </p>
            <p><h3 class="oe_slogan">An organization can share documents to either all or selected users.</h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="3_portal_shared_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Directories</h2> </p>
            <h3 class="oe_slogan">List of all directories including personal and shared. User's personal documents will attached with Personal directory and Shared directory will have shared documents. We can also create new directories and subdirectories.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="4_directories_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Personal Documents Directory</h2> </p>
            <p><h3 class="oe_slogan">All personal documents uploaded by user itself</h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="5_personal_dir_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Shared Documents Directory</h2> </p>
            <h3 class="oe_slogan">Having all the shared documents either personal or public</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="6_shared_dir_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Sub Directory</h2> </p>
            <p><h3 class="oe_slogan"></h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="7_sub_dir_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Document Design</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="8_doc_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">List of all Shared Documents</h2></p>
            <h3 class="oe_slogan">List out all the Shared Documents together</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="9_shared_docs_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">List of all Personal Documents</h2> </p>
            <p><h3 class="oe_slogan">List out all the Personal Documents together</h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="10_user_upload_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">All Documents</h2> </p>
            <p><h3 class="oe_slogan">All Documents including Personal and Shared</h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="11_all_docs_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Directory Tags</h2> </p>
            <h3 class="oe_slogan">Using tag we can differentiate and search Directories</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="12_dir_tags_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Document Tags</h2> </p>
            <p><h3 class="oe_slogan">Using tag we can differentiate and search Documents</h3></p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="13_doc_tags_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h3 class="oe_slogan">Get In Touch</h3>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" href="mailto:info@odooitnow.com">
            <i class="fa fa-envelope"></i> Email 
        </a> 
        <a class="btn btn-primary btn-lg mt8" href="http://www.odooitnow.com">
            <i class="fa fa-phone"></i> Contact Us
        </a>
    </div>
    <img src="odooitnow.png" style="width: 200px; margin-bottom: 20px;"
        class="center-block">
</section>