<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h1 style="padding-top: 0%;text-transform: uppercase;font-weight: 300;color: #3d3d3d !important;margin-bottom:18px;">
            <center>Export List View To Excel</center>
        </h1>
        <p class=" text-center"
           style="font-size: 20px;text-align:center;font-family:Noto Sans CJK TC Thin;color:#333">
            This module works same as export all feature introduced in Odoo 13.0
        </p>
   <p class=""
               style="font-size: 20px;font-family:Noto Sans CJK TC Thin;color:red">
                Note: This module is tested and working in Odoo Community Edition but not tested in Enterprise Edition.
            </p>
    </div>
</section>


<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Overview</b></span>
        </div>
        <p class="oe_mt8 text-center"
           style="font-size: 20px;text-align:center;font-family:Noto Sans CJK TC Thin;color:#333">
            This module will enable you to export all list view records or search filter records to excel.
        </p>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Features</b></span>
        </div>

        <div class="col-md-12  col-md-offset-4" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Export all list view
            record to excel.
            .<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Export all search
            filter records to excel.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>This Module works with
            all Odoo Apps/ Custom Apps. <br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:20px">
            <span style="font-size:25px;color:#fff"><b>How It Works</b></span>
        </div>
        <h4 class="oe_slogan" style="font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Export all
            list view records</h4>
        <div class="col-md-12" style="margin-bottom:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class=" text-center">To export all list view records (from all list view pages Pages), you will
                remove all filters and then
                press on download button and then save the xls file<br/>
                <i> You don't need to select the items, just click on download button.</i>
                <br/>
            </p>
            <img src="export_all.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Export
                all search filter records</h4>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class="text-center">To export all search filter records,You will apply your filters and then
                click on download button as per the below screenshot.<br/>
                <i> You don't need to select the items, just click on download button.</i></p>
            <img src="export_filter.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">How To
                Use</h4>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <img src="export_to_excel.gif"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>
    </div>

</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Complimentary Support</b></span>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class="text-center">You will get 90 days free support for any doubt, queries, and bug fixing
                <i>(excluding data recovery)</i> or any type of issue related to this module.</p>
            <p class="text-center"><b>This is applicable from the date of purchase</b></p>
            <p class="text-center">Please note that it's not allowed to distribute this module after purchase!</p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Help and Support</b></span>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class="text-center">
                For any support or help related to Odoo Implementation, customization or development, please feel
                free to mail
                us on <a href="mailto:sales@cortexsolutions.net">Our Sales Email</a>.
            </p>
            <div class="col-md-12 mb8 text-center" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
                <a
                        class="btn btn-primary mt8 text-center" title="More Odoo Apps"
                        style="background-color: #841c25; color: #FFFFFF !important;"
                        href="https://www.odoo.com/apps/modules/browse?author=CorTex IT Solutions Ltd."
                        target="_blank"><span
                        style="font-size:18px;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">More Apps by CorTex IT Solutions Ltd. </span>
                </a>
            </div>
            <div class="col-md-12" style="font-size: 15px;color:#333;font-family:LatoOpen Sans;">
                <div class="oe_slogan oe_spaced text-center">
                    
                    <a
                            class="btn btn-info mt8" title="Support"
                            style="background-color: #841c25; color: #FFFFFF !important;"
                            href="mailto:support@cortexsolutions.net"> Support </a>
                    <a
                            class="btn btn-info mt8" title="Request New Features now !"
                            style="background-color: #841c25; color: #FFFFFF !important;"
                            href="mailto:support@cortexsolutions.net"> Request New Features </a>

                </div>
            </div>
        </div>
    </div>
</section>
